@charset "UTF-8";

section.join.main {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  margin: 10px auto;
  align-items: center;
  h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
  }

  div {
    margin-bottom: 10px;
    padding: 2rem;
    height: 100px;
    width: 500px;
    background-color: bisque;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;

    &:hover {
      background-color: brown;
      color: white;
    }
  }
}
