@charset "UTF-8";
section.goods.insert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1,
  h3,
  p {
    text-align: center;
  }

  h3 {
    color: red;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    input {
      padding: 8px;
      margin: 10px;
      border-radius: 10px;
      outline: none;
      border: 1px solid #ddd;
    }

    button {
      margin: 10px auto;
      padding: 12px 16px;
      border: 0;
      border-radius: 10px;
      background-color: #aaa;

      &:hover {
        background-color: blue;
        color: white;
      }
    }
  }
}
